<HTML>
<BODY>
<head>
  <title>Restaurant details</title>
</head>
  Restaurant name: <%= r.name %><br>
  Cuisine: <%= r.cuisine %><br>
  Borough: <%= r.borough %><br>
  Street: <%= r.address.street %><br>
</BODY>
</HTML>