<HTML>
<BODY>
<head>
  <title>Restaurant details</title>
</head>
  <H2>User:<%= username %></H2>
  <br>
  <form action="/search" method="GET">
    <select name="searchby">
	<option value="Milk">Name</option>
	<option value="Cheese">Borough</option>
	<option value="Bread">Cuisine</option>
    </select>
    <input type="text" name="searchtarget">
    <input type="submit" name="search" value="Search">
  </form>
  <br>
  <input type="button" onclick="location.href='/create';" value="Add restaurant" />
  <form action='/logout' method='POST'>
    <input type='submit' name='logout' value='Logout'>
  </form>
  <input type="button" onclick="location.href='/create';" value="New" />
  <input type="button" onclick="location.href='/logout';" value="Logout" />
  <H1>Display <%= r.length %> restaurants</H1>
  <ol>
  <% r.forEach(function(restaurant) { %>
  <li><a href=/details?id=<%= restaurant.id %>><%= restaurant.name %></a></li>
  <% });                        %>
<ol>
  <br>
</BODY>
</HTML>
