<HTML>
<BODY>
<head>
  <title>Restaurant details</title>
</head>
  <H2>User:<%= username %></H2>
  <input type="button" onclick="location.href='/create';" value="New" />
  <input type="button" onclick="location.href='/logout';" value="Logout" />
  <H1>Display <%= r.length %> restaurants</H1>
  <ol>
  <% r.forEach(function(restaurant) { %>
  <li><a href=/details?id=<%= restaurant.id %>><%= restaurant.name %></a></li>
  <% });                        %>
<ol>
  <br>
</BODY>
</HTML>